.content  {
  font-weight: 500;
  margin-left: 50px;
  margin-right: 50px;
}
form {
  background-color: #ffffff;
  color: black;
  display: flex;
  height: 1000px;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 50px;
  padding-left: 50px;
  max-height: 1000px;
  border-radius: 15px;
  border-width: 10px;
  border-style: solid;
  border-color: #108129;
}
H1 {
  height: 70px;
  font-size: 60px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}