footer {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} 
.next {
  background-color: #ffffff; /* Green */
  border: none;
  border-radius: 30px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  border-width: 7px;
  border-style: solid;
  border-color:  #005AAA;
  margin-right: 20px;
}
.next:hover { 
  background-color: #005AAA;
  transition-duration: 0.1s;
}
.pages {
  font-size: 30px;
  font-weight: bold;
}
.back {
  background-color: #ffffff; /* Green */
  border-radius: 30px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  border-width: 7px;
  border-style: solid;
  border-color:  #005AAA;
  margin-left: 20px;
}
.back:hover { 
  background-color: #005AAA;
  transition-duration: 0.1s;
}