.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: rgb(255, 255, 255);
  border-bottom-color: red;
  border-bottom: 1px solid #ccc; /* Adjust border properties as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Adjust shadow properties as needed */
  padding: 5px;
  padding-left: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
}
.option-button {
  background-color: rgb(238, 238, 238);
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40px;
  height: 35px;
}
.option-button:focus + .sidbar {
 opacity: 1;
}
.sidbar {
  background-color: rgb(238, 238, 238);
  position: fixed;
  left: 0px;
  top: 50px;
  width: 150px;
  opacity: 1;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 200px;
}
.sidbar button {
  background-color: rgb(238, 238, 238);
  margin-top: 10px;
  font-size: 14px;
  font-style: 500;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.content p {
  font-weight: 700;
  background-color: lightblue;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
  opacity: 0;
} 
