.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: rgb(255, 255, 255);
  border-bottom-color: red;
  border-bottom: 1px solid #ccc; /* Adjust border properties as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Adjust shadow properties as needed */
  padding: 5px;
  padding-left: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
}
.option-button {
  background-color: rgb(238, 238, 238);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 130px;
  height: 130px;
}
.option-button img {
  padding: 5px;
}



