.sidbar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  top: 210px;
  width: 500px;
  z-index: 1;
  height: 1500px;
  display: none;
}
.sidbar div button {
  background-color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: 500;
  font-weight: bolder;
  border: none;
  color: rgb(0, 0, 0);
}
.sidbar div {
  margin-top: 150px;
}
